.vs/
.vscode/
[Aa]pplication[Ii]nsights.[Cc]onfig
[Bb]in/
[Bb]uild/
[Dd]ebug/
[Oo]bj/
[Pp]ublish[Pp]rofiles/
[Rr]elease/
[Xx]64/
[Xx]86/
*.ldf
*.mdf
*.nupkg
*.pfx
*.publishsettings
*.user
node_modules/
